<div class="nav-menu">
    <div  class="menu-horz-items">
        <ul>
            <li>
                <a class="menu-item" href="#">About US</a>
            </li>
            <li>
                <a class="menu-item" href="#">Profile</a>
            </li>
        </ul>
    </div>


    <button id="home-menu-button">
        <img class="home-icon" src="assets\home-menu.png" alt="Home icon">
    </button>

    <button id="nav-menu-button" (click)="showDDMenu = !showDDMenu">
        <img src="assets\icon-menu.png" alt="Menu icon">
    </button>
    
    <ul id="menu-ddl-items" *ngIf="showDDMenu" >
        <li>
            <a class="menu-item" href="#" id="sign-in">Sign in</a>
        </li>
        <li>
            <a class="menu-item" href="#" id="try-free">Try for free</a>
        </li>
    </ul>
</div>
