.cards {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-device-width: 768px) and (min-width: 426px) {
  .cards {
    display: flex;
  }
}

@media screen and (min-device-width: 769px) {
  .cards {
    display: flex;
  }
}
